# Ignorar arquivos sensíveis
.env
*.key
*.pem

# Ignorar arquivos de controle de versão
.git
.gitignore

# Ignorar IDEs e ambientes de desenvolvimento
*.iml
.idea/
.vscode/

# Ignorar arquivos gerados por builds
target/
build/
